@{
    ViewData["Title"] = "About";
}
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <h1>@ViewData["Title"]</h1>
            <p><a href="#">Tevett Goad</a></p>
            <p><a href="#">Zarry Die</a></p>
            <p><a href="https://www.linkedin.com/in/bryan-calle/">Bryan Calle</a></p>
        </div>
        <div class="col-sm-8 text-left">
            <h1>Sacrament Meeting Planner App
            </h1>
            <p>The Sacrament Meeting Planner provides a web interface to planning sacrament meetings providing access to members and the ability to print a program. The web application also provides a history of speakers and topics. </p>
            <hr>
            <h3>Sacrament App Team</h3>
            <p>This Sacrament Application was created by a team of Brigham Young University Idaho Students. Click on their name to be taken to their Linkedin page.</p>
        </div>
    </div>
</div>