<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SacramentPlanner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 text-white">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SacramentPlanner</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Members" asp-action="Index">Members</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="SacramentMeetings" asp-action="Index">Plans</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Footer -->
    <footer class="bg-dark text-center text-white">
        @*<footer class="bg-dark text-center text-white ">*@
        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
            <!-- Grid row -->
            <div class="row align-items-start">
                <!-- Grid column -->
                <div class="col-md-2 mx-auto">
                    <!-- Content -->
                    <div class="col-md-2 mx-auto ">
                        <!-- Links -->
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Social Media</h5>
                        <!-- Facebook -->
                        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/ChurchofJesusChrist" role="button">
                            <i class='fab fa-facebook'></i>
                        </a>
                        <!-- Twitter -->
                        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/Ch_JesusChrist" role="button">
                            <i class='fab fa-twitter'></i>
                        </a>
                        <!-- Instagram -->
                        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/churchofjesuschrist/" role="button">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <!-- Youtube-->
                        <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/c/churchofjesuschrist" role="button">
                            <i class='fab fa-youtube'></i>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-md mx-auto">
                    <div class="row align-items-start">
                        <div class="col-md-2 mx-auto">
                            <div class="col mx-auto">
                                <!-- Links -->
                                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">App</h5>
                                <ul class="list-unstyled text-white">
                                    <li>
                                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="SacramentMeetings" asp-action="Index">Plans</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Members" asp-action="Index">Members</a>
                                    </li>
                                </ul>
                                </div>
                            </div>
                            <!-- Grid column -->
                            <hr class="clearfix w-100 d-md-none">
                            <!-- Grid column -->
                            <div class="col-md mx-auto">
                                <div class="col mx-auto">
                                    <!-- Links -->
                                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Church</h5>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a class="nav-link text-light" href="https://www.churchofjesuschrist.org/?lang=eng">Church of Jesus Christ</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-light" href="https://www.churchofjesuschrist.org/comeuntochrist">Investigators</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-light" href="https://www.churchofjesuschrist.org/learn/mobile-applications/gospel-library?lang=eng">Gospel Library App</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Grid row -->
        <hr class="br-light">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            &copy; 2021 - SacramentPlanner
        </div>
        <!-- Copyright -->
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
